<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best 11 player</title>
    <link rel="stylesheet" href="static\style.css"> <!-- Link to your CSS file -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/">Achievements</a>
        <a href="/">Contact Us</a>
   </nav>
   <div class="form-container">
   <br>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
<br>
    <a href="/signup">Don't have an account ?Signup</a><br>
    <form action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
</div>
    <br>
    <br>
</body>
</html>