<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best 11 Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
   
</style>
</head>
<body>
    <nav>
        <a  id="logo" href="index.html">Best 11 player</a>
        <a  id ="first" href="/">Home</a>
        <a href="#about">About Us</a>
        <a href="#achievements">Achievements</a>
        <a href="#contact">Contact Us</a>
        <a href="/yourteam">Select team</a>
        <a href="/myteam">My players</a>
        <a href="/profile">profile page</a>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
   </nav>
   <section id="userProfile" class="profile">
    <div class="profile-pic">
        <img src="static/images/ima.png" alt="Profile Picture" id="profilePic">
        <!-- Form to upload profile picture -->
        <form action="/upload-profile-photo" method="post" enctype="multipart/form-data">
            <input type="file" id="imageInput" name="profile_photo" accept="image/*">
            <button type="submit">Upload Photo</button>
        </form>
    </div>
    <div class="profile-info">
        <h2 id="fullName">{{ session.get('full_name', 'Full Name') }}</h2>
        <p><strong>Username:</strong> <span id="userName">{{ session.get('user_name', 'username') }}</span></p>
        <p><strong>Email:</strong> <span id="email">{{ session.get('email', 'email@example.com') }}</span></p>
        <p><strong>ID:</strong> <span id="userId">{{ session.get('user_id', '123456') }}</span></p>
        <form action="/logout">
            <input type="submit" value="Logout" class="button >">
        </form>
    </div>
</section>
<script>
    document.getElementById('imageInput').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('profilePic');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script>
</body>
</html>