<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static\style.css"> <!-- Link to your CSS file -->

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/">About Us</a>
        <a href="/">Achievements</a>
        <a href="/">Contact Us</a>
   </nav>
   <div class="form-container">
    <form action="/signup" method="post">
        <a href="/login">Already have an account? Login</a><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="name">Name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Signup">
    </form>
</div>
</body>
</html>