<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best 11 Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="#about">About Us</a>
        <a href="#achievements">Achievements</a>
        <a href="#contact">Contact Us</a>
        <a href="/yourteam">Your team</a>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
   </nav>
    <h1>select your team</h1>
</body>
</html>